body {
  margin: 0;
  background-color: #7276e8ff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*used for "logo"*/
h1 {
  font-size: 7vw;
  color: white;
  text-align: center;
  margin-bottom: 0vh;
  margin-top: 2vh;
}

/*used for link*/
a {
  font-size: 2vw;
}

/*used for sources*/
.dataSource {
  font-size: 2.5vw;
  float: left;
}

/*used for launch form*/
h2 {
  font-size: 6vw;
  color: white;
  text-align: center;
  margin-bottom: 0vh;
  margin-top: 2vh;
}

/*link on temp page*/
.see {
  font-size: 4.5vw;
  text-align: center;
  color: black;
}

.see:active {
  color: white;
}

/*container for Temp class*/
.tempCont { 
  margin-top: 5vh;
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

/*container for the clock animation*/
.clockWrapper {
  visibility: visible;
}

/*container for launch class*/
.launchCont { 
  margin-top: 0vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/*select option css*/
.dropdown {
  align-self: center;
  margin-top: 2vh;
  width: 30vw;
  max-height: 4vh;
  background-color: #7da4ff;
}

/*submit option css*/
.submit {
  margin-top: 2vh;
  width: 100vw;
  height: 15vh;
  background-color: #7da4ff;
}

/*rules for the text bar at the bottom of the page*/
.submitTxt
{
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: white;
  font-size: 10vw;
  width: 100vw;
  height: 10vh;
  text-align: center;
  text-align-last: center;
  margin-top: 5vh;
  bottom: 0vh;
  
}

.submitTxt:hover
{
  color: #03bb85;
}

.submitTxt:active
{
  color: #03bb85;
}

/*rules for "reset" on form*/
.resetTxt
{
  background-color: gray;;
  border: none;
  font-weight: bold;
  color: white;
  font-size: 3vw; /*change back to 8*/
  width: 100vw;
  height: auto;
  text-align: center;
  text-align-last: center;
  bottom: 0vh;
  position: fixed;
    bottom: 0;
}

.resetTxt:hover
{
  color:  #03bb85;
}

.resetTxt:active
{
  color:  #03bb85;
}

/*rules for launch page spacing*/
.imFeeling {
  margin-top: 5vh;
}

.showMeThe {
  margin-top: 8vh;
}

/*stats page wrapper*/
.statsPage {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: stretch;
  /*flex-direction: row-reverse;*/
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
}

/*container for Temp class*/
.statsCont { 
  /*CHANGE IN FUTURE*/
  margin-bottom: 20vh;
  margin-top: 3vh;
  width: 25vw;
  height: auto;
  display: flex;
  margin-left: 3vw;
  flex-direction: column;
  background-color: #2b2d2f;
  padding-top: 3vh;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 1vh;
  border-radius: 0.694vw;
  align-content: center;
}

/*limit size of dropdown on stats page*/
.selectCountry{
  width: 15vw;
  margin-left: 5vw;
}

/*stats text*/
.numbers
{
  font-size: 4vw;
}


/*special CSS rules for mobile devices*/
@media only screen and (max-width: 600px) {
  /*wraps clock*/
  .clockWrapper {
    visibility: visible;
  }

  /*used for "logo"*/
  h1 {
    font-size: 14vw;
    color: white;
    text-align: center;
    margin-bottom: 0vh;
    margin-top: 2vh;
  }

  /*used for launch form*/
  h2 {
    font-size: 10vw;
    color: white;
    text-align: center;
    margin-bottom: 0vh;
    
  }

  /*used for launch form spacing*/
  .imFeeling {
    margin-top: 15vh;
  }

  .showMeThe {
    margin-top: 8vh;
  }

  /*container for Temp class*/
  .tempCont { 
    margin-top: 20vh;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
  }

  /*link on temp page*/
  .see {
    font-size: 5.5vw;
    text-align: center;
    color: black;
  }

  /*select option wrapper*/
  .dropdown {
    align-self: center;
    margin-top: 2vh;
    width: 50vw;
    height: 4vh; 
  }

  /*rules for "submit" on form*/
  .submitTxt
  {
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: white;
    font-size: 14vw;
    width: 100vw;
    height: 10vh;
    text-align: center;
    text-align-last: center;
    bottom: 0vh;
    position: fixed;
      bottom: 0;
  }

  .submitTxt:hover
  {
    color: #03bb85;
  }

  .submitTxt:active
  {
    color: #03bb85;
  }

  /*rules for "reset" on form*/
  .resetTxt
  {
    background-color: gray;;
    border: none;
    font-weight: bold;
    color: white;
    font-size: 14vw;
    width: 100vw;
    height: auto;
    text-align: center;
    text-align-last: center;
    bottom: 0vh;
    /*CHANGE IN FUTURE*/
    position: fixed;
      bottom: 0;
  }

  .resetTxt:hover
  {
    color:  #03bb85;
  }

  .resetTxt:active
  {
    color:  #03bb85;
  }

  /*prevents any scrolling*/
  .noScroll {
    overflow: hidden;
    position:fixed;
  }

  /*stats text*/
  .numbers
  {
    font-size: 6vw;
  }

  /*stats page wrapper*/
.statsPage {
  width: 100vw;
  height: 100vh;
  flex-direction: row-reverse;
  overflow-x: hidden;
  overflow-y: scroll;
}

/*container for Temp class*/
.statsCont { 
  margin-top: 3vh;
  width: 50vw;
  height: auto;
  display: flex;
  margin-left: 22vw;
  flex-direction: column;
  background-color: #2b2d2f;
  padding-top: 3vh;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 1vh;
  border-radius: 0.694vw;
  align-content: center;
}

/*limit size of dropdown on stats page*/
.selectCountry{
  width: 30vw;
  margin-left: 10vw;
}
  /*stats page wrapper*/
.statsPage {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  overflow: scroll;
}
  /*container for Temp class*/
  .statsCont { 
    margin-bottom: 0vh;
    border-radius: 2.5vw;
    margin-top: 3vh;
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  /*limit size of dropdown on stats page*/
  .selectCountry{
    width: 50vw;
    margin-left: 0vw;
  }
  
  /*used for any links*/
  a {
    font-size: 4vw;
  }

  iframe {
    width: auto;
    height: 100vh;
  }
  
  .lastItem {
   margin-bottom: 30vh;
    
  }

  /*used for sources*/
  .dataSource {
    font-size: 4.5vw;
    float: left;
  }
  

}